<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Add book</h1>


<form th:action="@{/books}" th:method="post" th:object="${book}">

    <input type="hidden" th:field="*{id}">
    <label>Title:</label>
    <input type="text" th:field="*{title}">
    <label>Author:</label>
    <select th:field="*{author}">
    <option th:each="author: ${authors}" th:value="${author.id}"
            th:text="${author}"/>
    </select>
    <input type="submit" value="Save">

</form>
<select id="list">

    <option value=""> </option>
    <option value="/authors/add">Add authors</option>
    <option value="/books/add">Add books</option>
    <option value="/authors">All authors</option>
    <option value="/books">All books</option>
</select>
<script>
    document.getElementById("list").onchange = function() {
        if (this.selectedIndex!==0) {
            window.location.href = this.value;
        }
    };
</script>
</body>

</html>